{% extends "base.html" %}
{% load static %}
{% block title %} MFL | {{ object.name }}{% endblock %}


{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 content-card">
                    <h5 class="orange font-weight-bold text-uppercase lead">
                        <span>{{ object.HMIS_Code }}</span> | {{ object.name }} | <small>{{ object.district }} District | {{ object.province }} Province</small>
                    </h5>
                    <hr style="border: 1px solid #F0F0F0;">
                    <h5>
                        <span class="col-md-6 col-xs-12">
                            <label>Facility Type: </label>
                            {{ object.facility_type }}
                        </span>
                    </h5>
                    <br>

                    <h4>
                        <div class="pull-left col-md-6 col-xs-12">
                            <p><b class="fs-15 text-black">Operation status:</b>
                            <span class="fs-15 label label-success fs-13">{{ object.operation_status }}
                            </span></p>
                        </div>
                    </h4>

                </div>
                <div class="col-md-12 col-xs-12 content-card">
                     <h5 class="orange">
                    <span class="fa-stack fa-lg fs-13">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span> Location</h5>
                    <br>
                    <h4 class="fs-14 fw-500  hidden-sm hidden-xs">
                        <a ui-sref="gis_county({county_code:oneFacility.county_code})" href="#/gis/15/">
                        <span class="fs-14 fw-500 text-blue col-md-6 col-xs-12 margin-b-5 ng-binding">
                            {{ object.district }} | {{ object.province }} Province
                        </span></a>
                    </h4>
                    <br>
                    <div id="map"></div>
                    <!-- End of locatin displays -->
                </div>
                <div class="col-xs-12 content-card services">
                    <h5 class="orange lead">Services</h5>

                </div>
            </div>
        </div> <!-- /container -->
{% endblock %}



