{% extends "base.html" %}
{% load static %}
{% block title %} MFL | About {% endblock %}

{% block style %}
    <style type="text/css">
        html {
            height: 100%;
        }

        html body {
          height: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }

        html body .container-fluid.body-content {
          width: 100%;
          overflow-y: auto;
          padding-bottom: 200px;
        }
        footer {
            position:absolute;
            bottom:0;
            width:100% !important;
            height: 200px;   /* Height of the footer */
{#            background:#f8f8f8;#}
            background: #428c42;;
            display: block;
            flex-shrink: 0;
            overflow:hidden;
            min-height: 200px;
            width: 100%;
        }
    </style>
}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 content-card">
                <h3>About</h3>
                <p>Zambia Master Health Facility List (ZMHFL) is an application with all health facilities in Zambia. The application lists all Health Facilities in the country and provides
                    a cross-sectional facility statistics on key public health interventions being implemented at all levels of the health service delivery system. The application contains up to date
                    information about all health facilities in the country including private facilities.
                </p>
            </div>
        </div>
    </div>

{% endblock %}