{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'MFL/img/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'MFL/img/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'MFL/img/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'MFL/img/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'MFL/img/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'MFL/img/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'MFL/img/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'MFL/img/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'MFL/img/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'MFL/img/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'MFL/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'MFL/img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'MFL/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'MFL/img/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'MFL/img/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <!-- Font-awesome core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Roboto">

    {% block head %}

    {% endblock %}

      <!-- MFL core css-->
    <link rel="stylesheet" type="text/css" href="{% static 'MFL/css/main.css' %}" >


    {% block style %}

    {% endblock %}

  </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-default navbar-expand-md fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'MFL/img/flag_58x38.png' %}"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <ul class="navbar-nav mr-auto">
                            <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li class="{% if request.resolver_match.url_name == 'about' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                            <li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="{% if request.resolver_match.url_name == 'list' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'list' %}">List</a></li>
                            <li class="{% if request.resolver_match.url_name == 'table' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'table' %}">Table</a></li>
                            <li class="{% if request.resolver_match.url_name == 'map' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'map' %}">Map</a></li>
                            <li class="{% if request.resolver_match.url_name == 'help' %}active{% endif %} nav-item"><a class="nav-link" href="#">Help <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>
        {% block content %}

        {% endblock %}

        <!-- Footer section -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <h5 class="orange font-weight-bold text-uppercase">Contact us</h5>
                        <p><i class="fas fa-home"></i> Ndeke House, Longacres, Lusaka</p>
                        <p><i class="fas fa-envelope"></i> info@moh.gov.zm</p>
                        <p><i class="fas fa-phone"></i> +260 211 253757</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h5 class="orange font-weight-bold text-uppercase">External links</h5>
                        <p><a href="http://www.moh.gov.zm" rel="external" onclick="this.target='_blank';">Ministry of Health</a></p>
                        <p><a href="https://www.zicta.zm/" rel="external" onclick="this.target='_blank';">ZICTA</a></p>
                        <p><a href="http://www.szi.gov.zm/" rel="external" onclick="this.target='_blank';">Smart Zambia Institute</a></p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h5 class="orange font-weight-bold text-uppercase">Stay in touch</h5>
                        <a href="https://twitter.com/moh_zambia"><i class="social fab fa-facebook"></i></a>
                        <a href="http://facebook.com/mohzambia/"><i class="social fab fa-twitter"></i></a>
                        <a href="#"><i class="social fab fa-youtube"></i></a>
                        <a href="https://github.com/MOH-Zambia/MFL"><i class="social fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </footer>


        {% include 'snippets/javascripts.html' %}

        {% block javascript %}

        {% endblock %}
    </body>
</html>
