{% extends "base.html" %}
{% load static %}
{% block title %}MFL | Home{% endblock %}

{% block style %}
    <style type="text/css">
        body {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: auto;
        }
        footer {
            position: absolute;
            overflow: hidden;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="container-fluid body-content m-t-1">
        <div class="d-flex flex-column align-items-center mt-5">
            <div class="p-2"><img src="{% static 'MFL/img/Coat_of_arms_of_Zambia_50x58.png' %}"></div>
            <div class="p-2"><h3>Master Facility List</h3></div>
            <div class="p-2">
                <div id="custom-search-input">
                    <form class="form" method="get" action="{% url 'list' %}">
                        <div class="input-group input-group-lg">
                            <input name="name" type="text" class="search-query form-control" placeholder="Search" />
                            <span class="input-group-btn">
                                <button type="button" disabled>
                                    <span class="fas fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
{% endblock %}



