{% extends "base.html" %}
{% load static %}
{% block title %}MFL | Home{% endblock %}

{% block style %}
    <style type="text/css">
        html {
            height: 100%;
        }

        html body {
          height: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
        }

        html body .container-fluid.body-content {
          width: 100%;
          overflow-y: auto;
          padding-bottom: 200px;
        }
        footer {
            position:absolute;
            bottom:0;
            width:100% !important;
            height: 200px;   /* Height of the footer */
{#          background:#f8f8f8;#}
            background: #428c42;
            display: block;
            flex-shrink: 0;
            overflow:hidden;
            min-height: 200px;
            width: 100%;
        }
    </style>
}
{% endblock %}

{% block content %}
    {% block jumbotron %}
        <div class="jumbotron">
            <div class="container">
                <div class="row"><img src="{% static 'MFL/img/Coat_of_arms_of_Zambia_50x58.png' %}"></div>
                <div class="row">
                    <p><span class="text-orange">Master Facility List</span></p>
                </div>
                <form class="form" method="get" action="{% url 'search' %}">
                    <div class="row">
                        <div id="custom-search-input">
                            <div class="input-group col-xs-7">

                                <input type="text" class=" search-query form-control" placeholder="Search..." name="q" value="{{ request.GET.q }}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- /container -->
        </div>
    {% endblock %}
{% endblock %}



